#calculator {
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 20%;
}

#display {
    height: 50px;
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.button {
    height: 70px;
    width: 70px;
    margin: 5px;
}
